.footer-container {
  color: #928b83;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-image img {
  border-radius: 10px;
}

.footer-text {
  font-family: "Roboto", cursive;
  font-size: 0.5em;
}
