
.footer-container {
padding-top: 5%;
padding-bottom: 5%;
}

.footer-image {
    margin-bottom: 10%;
}

.footer-author {
display: grid;
padding-left: 15%;
width: 100%;
font-family: 'Roboto', cursive;
text-align: left;
}
