img {
  box-shadow: 5px 5px 15px #928b83; /* Casting shadow from bottom right to top left */
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  width: 60%; /* Make the image take full width of its container */

}

@media (max-width: 768px) {
  img[src$=".jpg"] {
    width: 80%; /* Adjust width for tablets and small screens */
    max-width: 400px; /* Adjust max width for tablets and small screens */
  }
}

@media (max-width: 480px) {
  img[src$=".jpg"] {
    width: 100%; /* Adjust width for mobile devices */
    max-width: 300px; /* Adjust max width for mobile devices */
  }
}

.frame-container {
  text-align: center; /* Center align the text */
  margin-bottom: 10%;
}

.frame-container h3 {
  font-size: 1.5em; /* Title font size */
  margin-top: 20px;
  font-family: 'Roboto', cursive; /* Title font family */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.attention-button {
  background-color: #928b83; /* Tomato color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

.attention-button:hover {
  background-color: #494137; /* OrangeRed color */
}
