.description-card {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.description-card h3 {
  font-size: 0.9em; /* Reduced font size */
  font-family: "Roboto", cursive;
}

.description-card p {
  font-size: 0.7em; /* Reduced font size */
}
