body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-container {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

.header {
  font-size: 3em;
  font-weight: bold;
  color: #333;
  padding: 1%;
}

.secret {
  font-size: 0.7em;
}

.body-container {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #928b83;
  background-color: #faebd7;
}
