.body-container {
  padding-bottom: 2%;
  color: #928b83;
}

.header-and-body {
  position: relative;
  background-color: white;
  z-index: 1;
}

/* Dynamic polka dot background */
.header-and-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle,
      rgba(255, 105, 97, 0.5) 10%,
      transparent 10%
    ),
    radial-gradient(circle, rgba(97, 168, 255, 0.5) 10%, transparent 10%),
    radial-gradient(circle, rgba(88, 230, 88, 0.5) 10%, transparent 10%),
    radial-gradient(circle, rgba(255, 222, 89, 0.5) 10%, transparent 10%);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px, 7px 22px, 22px 7px;
  animation: polkaDotColor 20s linear infinite;
  z-index: -1;
  opacity: 0.6;
}

@keyframes polkaDotColor {
  0% {
    background-image: radial-gradient(
        circle,
        rgba(255, 105, 97, 0.5) 10%,
        transparent 10%
      ),
      radial-gradient(circle, rgba(97, 168, 255, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(88, 230, 88, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(255, 222, 89, 0.5) 10%, transparent 10%);
  }
  25% {
    background-image: radial-gradient(
        circle,
        rgba(97, 168, 255, 0.5) 10%,
        transparent 10%
      ),
      radial-gradient(circle, rgba(88, 230, 88, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(255, 222, 89, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(255, 105, 97, 0.5) 10%, transparent 10%);
  }
  50% {
    background-image: radial-gradient(
        circle,
        rgba(88, 230, 88, 0.5) 10%,
        transparent 10%
      ),
      radial-gradient(circle, rgba(255, 222, 89, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(255, 105, 97, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(97, 168, 255, 0.5) 10%, transparent 10%);
  }
  75% {
    background-image: radial-gradient(
        circle,
        rgba(255, 222, 89, 0.5) 10%,
        transparent 10%
      ),
      radial-gradient(circle, rgba(255, 105, 97, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(97, 168, 255, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(88, 230, 88, 0.5) 10%, transparent 10%);
  }
  100% {
    background-image: radial-gradient(
        circle,
        rgba(255, 105, 97, 0.5) 10%,
        transparent 10%
      ),
      radial-gradient(circle, rgba(97, 168, 255, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(88, 230, 88, 0.5) 10%, transparent 10%),
      radial-gradient(circle, rgba(255, 222, 89, 0.5) 10%, transparent 10%);
  }
}

.header-container {
  text-align: center; /* Center the h2 text */
  padding: 2%;
}

.header {
  color: #928b83;
}

.separator {
  width: 80%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid #6d6a6a;
}
